<a href="https://colab.research.google.com/github/natcruuz/Valores-nulos/blob/main/2_Actividad_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargamos archivo csv desde el equipo
from google.colab import files
files.upload()

In [3]:
#Cargar desde un archivo.csv sin índice
data = pd.read_csv('Ventas_totales.csv')
data.head(5)

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [67]:
#Eliminar la primera fila o filas innecesarias
#data1 =pd.read_csv("Ventas_totales.csv", skiprows = 0)
#data1

In [68]:
#Eliminar la primera fila o filas innecesarias
#data2 = data.drop(["indice_tiempo"], axis = 0)
#data2

In [ ]:
#Identificar valores nulos por columna (cantidad de valores nulos)
valores_nulos = data.isnull().sum()
valores_nulos

Aquí verificamos qué columnas de información tenían datos nulos y cuántos tenían.

**Primer método de sustitución de valores nulos**

Realizamos una copia de la tabla de datos inicial para posteriormente llenar los valores nulos de la columna "salon_ventas" con el promedio de los valores de esa misma columna.

In [ ]:
#Copiamos los valores de la tabla inicial
data1 = data.copy()
data1

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["salon_ventas"] = data1["salon_ventas"].fillna(round(data["salon_ventas"].mean(),1))
data1

In [ ]:
#Corroporamos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Segundo método de sustición de variables**

Para este método sustituimos los valores nulos de la columna "tarjeta_debito" con la mediana de los datos de esta misma columna.

In [73]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data1["tarjetas_debito"] = data1["tarjetas_debito"].fillna(round(data["tarjetas_debito"].median(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Tercer método de sustición de variables**

En este método sustituimos los valores nulos de la columna "tarjetas_credito" por un valor en específico, que en este caso fue 945886671.2

In [76]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
data1["tarjetas_credito"] = data1["tarjetas_credito"].fillna(945886671.2)

In [ ]:
#Corroboramos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Cuatro método de sustitución de valores nulos** (aquí ya se pueden variables de tipo categórico)

Este método sustituye valores nulos por algún string en concreto, por lo que no fue empleado en este código de datos numéricos.

**Quinto método de sustición de variables**

Con este método se sustituyó cada uno de los valores nulos de la columna "otros medios" por el valor de la fila de arriba.

In [79]:
#Sustituir los valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data1["otros_medios"] = data1["otros_medios"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Sexto método de sustitución de valores nulos**

Con este método se sustituye cada uno de los valores nulos de la columna "subtotal_ventas_alimentos_bebidas" con el valor de la fila inferior.

In [87]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill ("bfill")
#Filtro por columnas
data1["subtotal_ventas_alimentos_bebidas"]=data1["subtotal_ventas_alimentos_bebidas"].fillna(method="bfill")

In [ ]:
#Corroboramos los valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Repetimos los métodos de sustitución de valores para llenar los espacios con valores nulos**

A continuación se repitieron los métodos antes mencionados para eliminar los valores nulos. Dentro de cada cuadro de código se describe el método utilizado.

In [89]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["bebidas"] = data1["bebidas"].fillna(method="bfill")

In [90]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["almacen"] = data1["almacen"].fillna(method="bfill")

In [91]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["panaderia"] = data1["panaderia"].fillna(method="bfill")

In [92]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["lacteos"]=data1["lacteos"].fillna(method="ffill")

In [93]:
#Sustituir valores nulos con mediana
#Segundo método de sustitución de valores nulos
data1["carnes"] = data1["carnes"].fillna(round(data["carnes"].median(),1))

In [94]:
#Sustituir valores nulos con promedio o media
#Primer método de sustitución de valores nulos
data1["verduleria_fruteria"] = data1["verduleria_fruteria"].fillna(round(data["verduleria_fruteria"].mean(),1))

In [95]:
#Sustituir valores nulos con promedio o media
#Primer método de sustitución de valores nulos
data1["alimentos_preparados_rotiseria"] = data1["alimentos_preparados_rotiseria"].fillna(round(data["alimentos_preparados_rotiseria"].mean(),1))

In [96]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["indumentaria_calzado_textiles_hogar"]=data1["indumentaria_calzado_textiles_hogar"].fillna(method="ffill")

In [97]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["electronicos_articulos_hogar"]=data1["electronicos_articulos_hogar"].fillna(method="ffill")

In [98]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["otros"]=data1["otros"].fillna(method="ffill")

In [100]:
#Corrobormaos los valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

**Convertir DataSet sin valores nulos a CSV**

In [101]:
#Convertir DataFrame a CSV
data1.to_csv("Ventas_totales_sin_nulos.csv")

In [102]:
#Descargar archivo filtrado en csv
from google.colab import files

files.download("Ventas_totales_sin_nulos.csv")